.parallax{
    background-image: url(https://wallpaperscraft.com/image/abstract_blue_smoke_light_372_1024x600.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.song-card{
    background-color: rgba(120, 245, 214, .75);
    border: rgb(0, 0, 0) 5px;
    margin-bottom: 2.5%; 
    margin-right: 2.5%; 
    margin-left: 2.5%; 
    margin-top: 2.5%; 
    align-content: center;
}

.heading{
    justify-content: center;
    align-items: center;
    font-family: 'Rock Salt', cursive;
    padding: 50px;
    color: white;
    
}

.title-heading{
    padding: 150px;
    font-size: 100px;
}

.btn{
    align-content: center;
    justify-content: left;
}